- import_id = "campaign_import_form_file"

crm.flick('empty', 'toggle');
crm.flip_form('#{import_id}');
$('##{import_id}').html('#{ j render(partial: "import_from_file") }');
crm.set_title('#{import_id}', '#{ j t(import_id) }');
