= styles_for :campaign

= render 'entities/title_bar'

= link_to_inline("campaign_import_form_file".to_sym, send("campaign_import_form_file_path"), text: "Import form file")

.remote#create_campaign{ hidden }
.remote#campaign_import_form_file{ hidden }

= render 'search'

.remote#options{ hidden }

.list#campaigns
  - if @campaigns.any?
    = render @campaigns
  - else
    = render "shared/empty"

#paginate= render "shared/paginate_with_per_page"
#export= render "shared/export"